<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Video Game Catalogue Spring Boot Web App">
<meta name="keywords" content="HTML, CSS, Java, Video Games">
<meta name="author" content="Nikki McCloud">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>View All Games</title>

<style>
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#games {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
}

#games td, #games th {
  border: 1px solid #ddd;
  padding: 8px;
}

#games tr:nth-child(even){background-color: #a4bef5;}

#games tr:hover {background-color: #ddd;}

#games th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #437af0;
  color: black;
}

</style>

</head>
	<body>
	
	<h1 style= "font-family: 'Press Start 2P', cursive;">Video Game List</h1>
	
	<form>
		<table id = "games">
	
			<tr>		
				<th>ID</th>
				<th>Game Title</th>
				<th>ESRB Rating</th>
				<th>Genre</th>
				<th>Console</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
				
			<tr th:each="currentVideoGame: ${videogames}">
						
				<td th:text="${currentVideoGame.id}" />
				<td th:text="${currentVideoGame.gameName}" />		
				<td th:text="${currentVideoGame.esrbRating}" />				
				<td th:text="${currentVideoGame.genre.genreType}" />				
				<td th:text="${currentVideoGame.console.consoleName}" />
				<td><a th:href="@{/edit/{id}(id=${currentVideoGame.id})}" style = "color: limeGreen"><strong>Edit</strong></a></td>
				<td><a th:href="@{/delete/{id}(id=${currentVideoGame.id})}" style = "color: red"><strong>Delete</strong></a></td>
			</tr>
		</table>
	</form>
	
	<a style= "font-family: 'Press Start 2P', cursive;" href="../insertVideoGame"><strong>Add a new Video Game</strong></a>
	
		<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
	</body>
</html>